// Place all the styles related to the Years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #cf802c;
  background-image: asset-url("wood-pattern.png");
  margin-top: 80px;
}

.page-container {
  background-color: lighten(#cf802c, 30%);
  padding: 1vh;
  border: thin solid #cf802c;
  border-radius: 8px;
}

a {
  color: #000;

  &:hover, &:focus, &:visited {
    color: #000;
  }
}

a.btn {
  color: white;
}

td {
  vertical-align: middle !important;
}

.table thead {
  border-color: #cf802c;
  border-bottom-style: solid;
}

.table td {
  border-color: #cf802c !important;
}

td ul {
  margin-bottom: 0px;
}

.table .table {
  background-color: lighten(#cf802c, 40%);
  margin: 10px 0px !important;
}

.page-break {
  border-bottom: thick dashed #777;
}

@media print {
  body {
    margin: 0px;
  }

  .page-container {
    border: none;
  }

  .table, .table *, .table td {
    border-color: #222 !important;
  }

  .table thead {
    border-bottom-width: 1px;
  }

  .page-break {
    border: none;
    page-break-after: always;
  }

  .noprint {
    display: none;
  }

  .btn {
    display: none;
  }

  a:after {
    content: none !important;
  }
}
