// Place all the styles related to the Years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #cf802c;
  background-image: asset-url("wood-pattern.png");
  margin-top: 80px;
  color: black;
  counter-reset: section;
}

.page-container {
  background-color: lighten(#cf802c, 30%);
  padding: 1vh;
  border: thin solid #cf802c;
  border-radius: 8px;
}

.navbar .label {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: darken(#cf802c, 30%);

  &:hover, &:focus, &:visited {
    color: darken(#cf802c, 30%);
  }

  &.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}

a.btn {
  color: white;
}

td {
  vertical-align: middle !important;
}

.table thead {
  border-color: #cf802c;
  border-bottom-style: solid;
}

.table td {
  border-color: #cf802c !important;
}

td ul {
  margin-bottom: 0px;
}

.table .table {
  background-color: lighten(#cf802c, 40%);
  margin: 10px 0px !important;
}

tr.uncounted {
  td {
    background-color: lighten(#cf802c, 25%);
    font-style: italic;
  }
}

tr.unfilled {
  td {
    background-color: lighten(#cf802c, 40%);
    font-weight: bold;
  }
}

.page-break {
  border-bottom: thick dashed #777;
}

h1.numbered::before {
    counter-increment: section;
    content: counter(section)") "
}

tr.heavy-top td{
    border-top-width: 3px !important;
}

@media print {
  body {
    margin: 0px;
  }

  .page-container {
    border: none;
  }

  .table, .table *, .table td {
    border-color: #222 !important;
  }

  .table>tbody>tr>td {
      padding: 2px;
  }

  .table thead {
    border-bottom-width: 1px;
  }

  .page-break {
    border: none;
    page-break-after: always;
  }

  .noprint {
    display: none;
  }

  .btn {
    display: none;
  }

  a:after {
    content: none !important;
  }

  h1.numbered::before {
    counter-increment: section;
    content: ""
  }

}
