<h1>Listing Years</h1>

<table class="table">
  <thead>
    <tr>
      <th>Years</th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= link_to year.name, year %></td>
	<td><%= link_to "Switch to #{year.name}", pseudo_years_path(year: year.id), class: 'btn btn-sm btn-warning' unless year == current_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Roll Over & Start New Year', setup_years_path, class: 'btn btn-primary' %>
<%= link_to 'Add Year', new_year_path, class: 'btn btn-default' %>
