<h1>Reports</h1>

<%= link_to "Coach Certification Report", sports_report_path, class: 'btn btn-lg btn-default' %> &nbsp;
<%= link_to "Hiring Report", hiring_report_path, class: 'btn btn-lg btn-default' %> &nbsp;
